@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

@functions {
    [Parameter]
    int CountIncrement { get; set; } = 1;
    int currentCount;

    void IncrementCount()
    {
        currentCount += CountIncrement;
    }
}
